<li data-task-id="<%= task.id %>">
  <% if task.done? %>
    <%= check_box_tag('', set_task_done_path(task), true, disabled: true, class: 'task-done') %>
    <strike><%= task.name %></strike>
      <span class='fordeadline'>
        <strike><%= task.deadline %></strike>
      </span>
  <% else %>
    <%= check_box_tag('', set_task_done_path(task), false, disabled: false, class: 'task-done') %>
    <%= best_in_place(task, :name, url: project_task_path(task.project, task) ) %>
      <span class='fordeadline'>
        <%= best_in_place(task, :deadline, url: project_task_path(task.project, task), as: :date ) %>
      </span>
  <% end %>  

  <%= link_to image_tag('delete_sm.png'), project_task_path(task.project, task), class: 'task-delete' %>
</li>
