<div class="project"> 
  <div class="project-header">
    <%=best_in_place(project, :name, class: 'project-name') %>
    <%= link_to image_tag('delete.png'), project_path(project), class: 'project-delete' %>
  </div>

  <%= form_for([project, Task.new], :html => {:class => 'task-add'}) do |f| %>
    <%= f.text_field :name, placeholder: "Task name", :remote => true, class: "task-name"%>
    <%= f.text_field :deadline, class: "task-deadline"%>
    <%= f.submit "Add Task" %>
  <% end %>

  <ul class="tasks sortable">
    <% project.ordered_tasks.each do |task| %>
      <%= render partial: 'tasks/task', locals: {task: task} %>
    <% end %>
  </ul>
</div> 
